﻿@model List<Abonne>;

<div class="text-center mb-5">
    <h1 class="display-4">Liste des abonnés</h1>
</div>

<div class="container mb-4">
    <form asp-controller="Abonne" asp-action="List" method="get">
        <div class="form-group mb-3">
            <label for="filtre">Filtrer :</label>
            <select id="filtre" name="filtre">
                <option value="tous">Tous les abonnés</option>
                <option value="connectes">Abonnés connectés</option>
                <option value="presents">Abonnés présents dans plus de 70% des streams</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Appliquer le filtre</button>
    </form>
</div>

<div class="container">
    <!-- Ici on affiche le titre <h2> de la page en fonction du filtre sélectionné -->
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Surnom</th>
                <th>Image de profil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Surnom</td>
                    <td><img src="/images/@item.ImageProfil" alt="Image de profil" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>