﻿@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Bienvenue gamer !</h1>
</div>


<div class="container">
    <h2 class="mb-4">Liste des streams</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date et heure</th>
                <th>Titre</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <!-- Pour chaque stream dans la liste, on affiche les informations -->
            @foreach (var stream in Model)
            {
                <tr>
                    <!-- On utilise la méthode ToString() pour formater la date --> 
                    <td>@stream.Date.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@stream.Titre</td>
                    <td>@stream.Status</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-controller="Stream" asp-action="Add">Nouveau Stream</a>
</div>