﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Bienvenue gamer !</h1>
</div>

<a class="btn btn-primary" asp-controller="Abonne" asp-action="List">Liste des abonnés</a>