﻿<div class="text-center mb-5">
    <h1 class="display-4">Création de Streams</h1>
</div>
<div class="container mb-4">
    <form asp-controller="Stream" asp-action="Add" method="post">
        <div class="form-group">
            <label for="Titre">Titre :</label>
            <input id="Titre" name="Titre" class="form-control" required />
        </div>
        <div class="form-group mb-3">
            <label for="Date">Date et heure :</label>
            <input type="datetime-local" id="Date" name="Date" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Créer un stream</button>
    </form>
</div>